<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParaBankingSuite">

	<listeners>
		<listener class-name="com.parabank.utilities.Reporting" />
	</listeners>

  <test name="ParaBanking Test">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.parabank.testCases.PB_Register_TestCase"/>
      <class name="com.parabank.testCases.PB_Bill_Pay_TestCase"/>
      <class name="com.parabank.testCases.Demo"/>
      <class name="com.parabank.testCases.PB_Login_TestCase"/>
      <class name="com.parabank.testCases.BaseClass"/>
      <class name="com.parabank.testCases.PB_TransferFunds_TestCase"/>
      <class name="com.parabank.testCases.PB_OpenNewAccount_TestCase"/>
      <class name="parabank.parabank.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
